body {
    font-family: Helvetica, Arial, sans-serif;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    gap: .5rem;
}

.user-controls {
    display: flex;
    align-items: center;
    gap: 0.5rem
}

.user-controls img {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.user-controls input {
    background-image: url("./assets/magnifying-glass.png");
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: 97%;
    padding-right: 10%;
}

.input-icon {
    margin-left: -1.5rem
}

/* Main */
main {
    aspect-ratio: 5/3;
    border: 1px solid red;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 1rem;
}

main .movie-statistics {
    display: flex;
    gap: .8rem;
    align-items: center;
} 



main .movie-rating i {
    color: red;
}

main .age-rating {
    border: 1px solid black;
    border-radius: .25rem;
    padding: .2rem;
}

main .movie-description {
    width: 60%;
}

.btn-play {
    text-decoration: none;
    color: white;
    background: red;
    padding: .5rem 2rem;
    border-radius: .5rem;
}

